# Application
APP_NAME=event-backend
APP_ENV=development
APP_PORT=8080

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=event_backend
DB_TIMEZONE=Asia/Jakarta

# Database Pool
DB_MAX_IDLE_CONNS=5
DB_MAX_OPEN_CONNS=10
DB_MAX_IDLE_CONNS_IN_MINUTES=10
DB_MAX_LIFETIME_CONNS_IN_MINUTES=60

# JWT
JWT_SECRET=
JWT_EXPIRED_IN=24h

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASS=

# Storage
STORAGE=minio
FILE_UPLOAD_MAX_SIZE=10
FILE_UPLOAD_ALLOWED_TYPES=image/jpeg,image/png

# AWS S3 / Minio
AWS_S3_ENDPOINT=
AWS_S3_PORT=
AWS_S3_BUCKET_NAME=event-backend
AWS_S3_ACCESS_KEY=
AWS_S3_SECRET_KEY=
AWS_S3_REGION=